*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#navbar a {
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 240px;
    text-align: center; 
    font-weight: 600;
}

#bottomsection {
    width: 200px;
    padding-left: 25px;
}

#bottomsection h4 {
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
}

#bottomsection p {
    font-size: 14px;
    padding-top: 5px;
    
}

#bottombar {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}

#bottombar a {
    font-weight: 600;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

#image1 {
    height: 230px;
    width: 170px;
    position: absolute;
    top: 210px;
    right: 280px;
}

#image2 {
    height: 190px;
    width: 270px;
    position: absolute;
    top: 300px;
    right: 410px;
}

#image3 {
    height: 230px;
    width: 160px;
    position: absolute;
    top: 230px;
    right: 580px;
}

#bottombar h3{
    font-weight: 600;
    text-decoration: underline;
}